DEBUG=True

SECRET_KEY=change-me

DATABASE_NAME=sinarm_office
DATABASE_USER=sinarm_office
DATABASE_PASSWORD=change-me
DATABASE_HOST=localhost
DATABASE_PORT=5432

OPENAI_API_KEY=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
